<!-- begin comments -->
<div class="comments">
  <div id="disqus_thread"></div>
  <script>
    (function () {
      var d = document, s = d.createElement('script');
      s.src = '//{{ site.data.settings.disqus-identifier }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Будь ласка, увімкніть JavaScript, щоб переглянути
    <a href="https://disqus.com/?ref_noscript">коментарі на основі Disqus.</a>
  </noscript>
</div>
<!-- end comments -->
